body{
    background-image: url("../img/kartinki-dlia-fona-7.webp") ;
    background-attachment: fixed;
    zoom:115%
}
nav{
    background-image: url("../img/Coat_of_arms_of_Penza_Oblast.svg");
    border: 1px solid ;
    border-radius: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: #ffffff;
}
h1{
    font-family: 'Montserrat', 'Lato', 'Open Sans', 'Roboto', sans-serif;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.house-gubernatora, .one-picture,.msc-street,.house-Mey,.teatre,.pamatnik{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
a{
    color: black;
}
