body{
    background-image: url("../img/kartinki-dlia-fona-7.webp") ;
    background-attachment: fixed;
    zoom:115%
}
h1,h2, p{
    font-family: 'Georgia', serif;
}
nav{
    background-image: url("../img/Coat_of_arms_of_Penza_Oblast.svg");
    border: 1px solid ;
    border-radius: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #ffffff;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}
a{
    color: black;
}
.musem{
display: flex;
flex-direction: row;
align-items: center;
background-color: #ffffff;
}